<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Country Sale</title>
    <style>
        .table{
            width:850px;
            margin:100px;
        }
        table, th, td {
            border-collapse: collapse;
            padding: 6px 13px;
            border: 1px solid #dfe2e5
        }
  </style>
</head>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Country</th>
      <th scope="col">Product</th>
      <th scope="col">Average Sale</th>
      <th scope="col">Total Sale</th>
    </tr>
  </thead>
  <tbody>
    {% for i in context %}
    <tr>
        <th scope="row"></th>
        <td>{{i.Countryname}}</td>
        <td>{{i.Productname}}</td>
        <td>{{i.AvgSale.Avg}}</td>
        <td>{{i.Total.Sum}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>